@import "./colors";
@import "./components";
@import "./mixins";

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-size: 1.6rem;
	font-family: "Roboto", sans-serif;
}

@media(max-width:767px){
    .reviews.section-padding{
        padding: 6em 0;
    }
}

///////////////////////////////////////////////
//                 BURGER BTN                //
///////////////////////////////////////////////

.burger-btn {
	position: fixed;
	top: 20px;
	right: 20px;
	padding: 1em;
	background: none;
	border: 1px solid transparent;
	cursor: pointer;
	z-index: 1000;

	&:hover {
		.burger-btn__bars,
		.burger-btn__bars::before,
		.burger-btn__bars::after {
			width: 100%;
		}
	}

	&:focus {
		outline: none;
		border: 1px solid rgba(255, 255, 255, 0.5);
		border-radius: 15px;
	}
	&__box {
		position: relative;
		width: 40px;
		height: 30px;
	}
	&__bars {
		width: 100%;

		&::after {
			top: 13px;
			width: 60%;
		}
		&::before {
			top: 27px;
			width: 30%;
		}
	}
	&__bars,
	&__bars::before,
	&__bars::after {
		@include burgerBtnSet;
	}
}

///////////////////////////////////////////////
//                 NAV                       //
///////////////////////////////////////////////

.nav {
	position: fixed;
	top: 0;
	height: 100vh;
	width: 100%;
	background-image: $main-gradient-solid;
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translateX(100%);
	transition: 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

	&--active {
		transform: translateX(0);
	}

	&__item {
		position: relative;
		display: block;
		margin: 0.5em 0;
		padding: 0.5em 2em;
		font-size: 2.8rem;
		color: $text-color;
		text-decoration: none;
		text-transform: uppercase;

		&::before {
			position: absolute;
			top: 0;
			left: 0;
			width: 3px;
			height: 100%;
			content: "";
			background-color: $text-color;
			transform: scaleY(0);
			transition: transform 0.5s;
		}

		&:hover::before {
			transform: scaleY(1);
		}
	}
}

.navItemAnimation {
	animation: navAnimation 1s both;
}

@keyframes navAnimation {
	from {
		transform: translateX(200%);
	}
	to {
		transform: translateX(0);
	}
}

///////////////////////////////////////////////
//                 HEADER                    //
///////////////////////////////////////////////

.header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 2em;
	height: 75vh;
	text-align: center;
	color: $text-color;
	@include heroImages("../img/header-hero_640.jpg");
	background-attachment: scroll;

	&__heading {
		font-family: "Quintessential", cursive;
		font-size: 4.8rem;
		letter-spacing: 4px;
	}
	&__text {
		margin-top: 1em;
		font-size: 1.4rem;
	}
	&__btn {
		margin-top: 2em;
		padding: 0.8em 1.6em;
		font-size: 1.4rem;
		background-color: $white;
		border: none;
		border-radius: 15px;
		color: $text-color;
		text-decoration: none;
		text-transform: uppercase;
		cursor: pointer;

		&::before {
			color: $white;
			background-color: $light-text-color;
		}
	}
}

///////////////////////////////////////////////
//                 DESCRIPTION               //
///////////////////////////////////////////////

.description {
	&__box {
		display: flex;
		flex-direction: column;
		margin: 2em 0;
	}
	&__img {
		width: 100%;
		margin-bottom: 1em;
	}
	&__title {
		margin-bottom: 0.5em;
	}
	&__text {
		font-size: 1.4rem;
	}
}

///////////////////////////////////////////////
//                 HERO-IMG                  //
///////////////////////////////////////////////

.hero-img {
	position: relative;
	padding: 10em 2em;
	@include heroImages("../img/hero-img_640.jpg");
	text-align: center;
	color: $text-color;
	overflow: hidden;

	&__title {
		font-family: "Quintessential", cursive;
		font-size: 4.8rem;
		letter-spacing: 4px;
		margin-bottom: 0.5em;
	}

	&__text {
		padding: 1em 0;
	}
}

///////////////////////////////////////////////
//                 OFFERS                    //
///////////////////////////////////////////////

.offers {
	&__card {
		position: relative;
		margin: 1em 0;
		height: 450px;
		color: $text-color;
		text-align: center;
		perspective: 1000px;

		&:hover {
			.offers__card-img {
				transform: rotateY(-180deg);
				opacity: 0;
			}
			.offers__card-info {
				transform: rotateY(0);
				opacity: 1;
			}
		}
	}

	&__card-img {
		padding: 2em;
		height: 100%;
		border-radius: 15px;
		background-size: cover;
		background-position: center;
		transition: transform 1s, opacity 1s;

		&--first {
			background-image: $light-main-gradient, url("../img/offers1_640.jpg");
		}

		&--second {
			background-image: $hard-main-gradient, url("../img/offers2_640.jpg");
		}

		&--third {
			background-image: $orange-main-gradient-solid,
				url("../img/offers3_640.jpg");
		}
	}

	&__card-img-title {
		font-family: "Quintessential", cursive;
		font-size: 2.8rem;
	}
	&__card-img-info {
		position: absolute;
		bottom: 30px;
		right: 30px;
		font-size: 1.8rem;
		font-weight: bold;

		i {
			margin-right: 0.5em;
			font-size: 2rem;
		}
	}

	&__card-info {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-image: $main-gradient-solid;
		border-radius: 15px;
		opacity: 0;
		transform: rotateY(180deg);
		transition: transform 1s, opacity 1s;
	}
	&__card-info-title {
		@include positionCenter;
		top: 1.2em;
        margin-bottom: 1em;
        font-family: "Quintessential", cursive;
		font-size: 1.8rem;
	}
    &__card-info-list{
        margin: 0 auto;
        width: 70%;
        list-style: none;
    }
    &__card-info-list-item{
        padding: 1em;
        font-size: 1.4rem;
        border-bottom: 1px solid $light-text-color;

        &:last-child{
            border-bottom: none;
        }
    }
    &__card-info-btn{
        @include positionCenter;
        bottom: 2em;
        padding: 1em;
        border-radius: 15px;
        border: none;
        background-color: $brand-color;
        color: $white;
        cursor: pointer;

        &::before{
            background-color: $brand-color-hover;
        }
    }
}

///////////////////////////////////////////////
//                 ABOUTUS                   //
///////////////////////////////////////////////

.aboutus{
    position: relative;
    overflow: hidden;
    @include heroImages("../img/aboutus-hero_640.jpg");

    .section-heading{
        color:$text-color;
        text-shadow: 1px 2px 2px $main-color;
        font-weight: bold;
    }

    &__box{
        margin: 1em 0;
        box-shadow: 5px 5px 10px #2e2e2e2e;
        background-color: $white;
        overflow: hidden;
    }
    &__box-img{
        width: 100%;
        transition: transform 0.5s;

        &:hover{
            transform: scale(1.1);
        }
    }
    &__box-info{
        padding: 2em;
    }
    &__box-heading{
        margin-bottom: 0.5em;
        font-size: 2.4rem;
    }
    &__box-text{
        margin: 0.5em;
        font-size: 1.3rem;
        margin-left: 0;
    }
    &__box-btn{
        margin-top: 1em;
        padding: 0.8em;
        width: 100%;
        color: $white;
        background-color: $brand-color;
        border: none;
        border-radius: 15px;
        cursor: pointer;

        &::before{
            background-color: $brand-color-hover;
        }
    }
}

///////////////////////////////////////////////
//                 REVIEWS                   //
///////////////////////////////////////////////

.reviews{
    &__box{
        position: relative;
        margin: 2em;
        padding: 2em;
        border-radius: 8px;
        box-shadow: 3px 3px 10px #2e2e2e;
        transition: transform 0.5s;

        &:hover{
            transform: scale(0.95);
        }
    }
    &__box-img{
        position: absolute;
        top: 8%;
        left: 75%;
        transform: translate(-50%, -50%);

        img{
            width: 80px;
            height: 80px;
            object-fit: cover;
            border-radius: 50%;
        }
    }
    &__box-quote{
        margin-bottom: 1em;
        font-size: 3rem;
        color: $main-color;
        text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.6);
    }
    &__box-text{
        margin-bottom: 1em;
        font-size: 1.4rem;
    }
}

///////////////////////////////////////////////
//                 MEDIA                     //
///////////////////////////////////////////////

@media (min-width: 576px) {
	.description {
		&__box {
			flex-direction: row;
			justify-content: space-between;
		}
		&__box-text {
			width: 55%;

			&--right {
				text-align: right;
			}
		}
		&__box-img {
			width: 40%;

			&--right {
				order: 1;
			}
		}
		&__img {
			margin-bottom: 0;
			max-height: 300px;
		}
	}
    .aboutus{
        &__box{
            display: flex;
            margin: 2em 0;
            width: 100%;
        }
        &__box-img{
            width: 50%;
            height: auto;

            &--right{
                order: 1;
            }
        }
        &__box-info{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &__box-heading{
            margin-bottom: 0.5em;
            font-size: 3rem;
        }
        &__box-btn{
            padding: 1em;
        }
    }
}

@media (min-width: 768px) {
	.white-block {
		height: 50px;
		width: 50%;
	}
	.header {
		&__heading {
			font-size: 6.6rem;
		}
		&__text {
			font-size: 2.4rem;
		}
		&__btn {
			font-size: 1.6rem;
		}
	}
	.description {
		&__title {
			font-size: 2.5rem;
		}
		&__text {
			font-size: 1.8rem;
		}
	}
	.hero-img {
		padding: 30rem 2em;

		hr {
			margin: 0 auto;
			width: 70%;
		}

		&__text {
			font-size: 2.2rem;
		}
	}
    .offers{
        &__cards{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        &__card{
            margin: 1em;
            width: 45%;
        }
        &__card-info-title{
            font-size: 2.2rem;
        }
    }
}

@media (min-width: 992px) {
	.burger-btn {
		top: 50px;
		right: 50px;
	}
	.nav {
		&__item {
			font-size: 4.8rem;
		}
	}
	.header {
		background-image: $main-gradient, url("../img/header-hero_1920.jpg");

		&__heading {
			font-size: 8rem;
		}
	}
	.description {
		&__box {
			margin: 5em 0;
		}
		&__box-text {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			margin-bottom: 2.5em;
		}
		&__title {
			font-size: 3.6rem;
		}
		&__text {
			font-size: 2.2rem;
		}
	}
	.hero-img {
		padding: 40rem 2em;
		background-image: $main-gradient, url("../img/hero-img_1920.jpg");

		&__title {
			font-size: 7.2rem;
		}
		hr {
			width: 60%;
			max-width: 900px;
		}
	}
    .aboutus{
        background-image:$main-gradient, url("../img/aboutus-hero_1920.jpg");

        &__box-img{
            object-fit: cover;
            height: 300px;
        }
        &__box-text{
            font-size: 1.5rem;
        }
        &__box-info{
            background-color: $white;
            z-index: 2;
        }
    }
}

@media(min-width:1100px){
    .offers{
        &__card{
            width: 30%;
        }
    }
}